body {
    padding-bottom: 20px;
    background-color: #393946;
    color: #f4f4f4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
    border: none;
    padding: 60px;
}

.line {
    width: 100%;
    height: 13px;
    background-image: url(Img/line.png);
    background-repeat: repeat-x;
}

input {
    border: none;
    background-color: #393946;
    font-family:'Script MT Std';
 
}

input.questionText {
    text-align:center;
    font-size:30pt;
    width:100%;
    color:#f4f4f4;
}

input.optionTextDefault {
   text-align:left;
   color:#25252e; 
   font-size:25px;  
   float:left; 
   margin-left:30px;
}

input.optionTextEntered {
   text-align:left;
   color:#f4f4f4;  
   font-size:25px;
   float:left; 
   margin-left:30px; 
}

.numberDot {
    width:37px;
    height:38px;
    background-image:url(Img/numberDot.png);
    background-repeat:no-repeat;
    color:#f4f4f4;
    text-align:center;
    font-family:'Script MT Std';
    font-size:24px;
    float:left;
}

.optionBlock {
   height:38px;
   width:100%;
}

