body {
    padding-bottom: 20px;
    background-color: #393946;
    color: #f4f4f4;
    min-width:1200px;
}

@font-face {
    font-family: Script MT Std;
    src: url(fonts/scriptmtstd-bold.otf);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
    border: none;
    padding: 30px;
}

.line {
    width: 100%;
    height: 13px;
    background-image: url(Img/line.png);
    background-repeat: repeat-x;
}

input {
    border: none;
    background-color: #393946;
    font-family: 'Script MT Std';
    color:#f4f4f4;
}

    textarea:focus, input:focus {
        outline: 0;
    }

.questionText {
    font-family: 'Script MT Std';
    text-align: center;
    font-size: 33pt;
    width: 100%;
    color: #f4f4f4;
}

.option-text-default {
    font-family: 'Script MT Std';
    text-align: left;
    color: #25252e;
    font-size: 28px;
    float: left;
    margin-left: 20px;
    width:230px;
}

.optionTextEntered {
    font-family: 'Script MT Std';
    text-align: left;
    color: #f4f4f4;
    font-size: 28px;
    float: left;
    margin-left: 20px;
    width:auto;
}


.numberDot {
    width: 37px;
    height: 38px;
    background-image: url(Img/numberDot.png);
    background-repeat: no-repeat;
    color: #f4f4f4;
    text-align: center;
    font-family: 'Script MT Std';
    font-size: 24px;
    float: left;
}

.option-block {
    margin-top: 14px;
    height: 38px;
    width: 100%;
}

.dots {
    margin-top: -23px;
    font-family: 'Script MT Std';
    font-size: 25px;
    text-align: center;
    color: #25252e;
    letter-spacing: 5px;
}

.chose {
    font-family: 'Script MT Std';
    font-size: 20px;
    text-align: center;
    color: #f4f4f4;
}

.options-content {
    margin: 0 auto;
    text-align: left;
}

.options-content-center {
    display: flex;
    flex-direction: column;
}

.add-btn {
    margin: 0 auto;
      width:50px;
}

.create-btn {

    margin: 0 auto;
    margin-top:20px;
    padding-top:5px;
    text-align:center;
    font-family: 'Script MT Std';
    font-size: 25px;
    color: #f4f4f4;
    background-image:url(Img/btn_bg.png);
    background-repeat:no-repeat;
    width:158px;
    height:54px;
    
}

label {
    border: none;
    padding: 0px;
    margin: 0px;
}

.percentage {
    padding-left:80px;
    color:#747494;
    font-size:18px;
}

.votes {
    padding-left:30px;

}

