body {
    padding-bottom: 20px;
    background-color: #393946;
    color: #f4f4f4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
    border: none;
    padding: 60px;
}

.line {
    width: 100%;
    height: 13px;
    background-image: url(Img/line.png);
    background-repeat: repeat-x;
}

input {
    border: none;
    background-color: #393946;
    font-family: 'Script MT Std';
}

    textarea:focus, input:focus {
        outline: 0;
    }

.questionText {
    font-family: 'Script MT Std';
    text-align: center;
    font-size: 30pt;
    width: 100%;
    color: #f4f4f4;
}

.optionTextDefault {
    font-family: 'Script MT Std';
    text-align: left;
    color: #25252e;
    font-size: 25px;
    float: left;
    margin-left: 20px;
}

.optionTextEntered {
    font-family: 'Script MT Std';
    text-align: left;
    color: #f4f4f4;
    font-size: 25px;
    float: left;
    margin-left: 20px;
}

.numberDot {
    width: 37px;
    height: 38px;
    background-image: url(Img/numberDot.png);
    background-repeat: no-repeat;
    color: #f4f4f4;
    text-align: center;
    font-family: 'Script MT Std';
    font-size: 24px;
    float: left;
}

.option-block {
    margin-top: 10px;
    height: 38px;
    width: 100%;
}

.dots {
    margin-top: -23px;
    font-family: 'Script MT Std';
    font-size: 25px;
    text-align: center;
    color: #25252e;
    letter-spacing: 5px;
}

.options-content {
    margin-left: 360px;
}

.add-btn {
}

.create-btn {
    font-family: 'Script MT Std';
    font-size: 25px;
    color: #f4f4f4;
}
