@model Pollerino.Models.Poll

@{
    ViewBag.Title = "Home Page";
}


<div class="">
    <div>

        @using (Html.BeginForm())
        {
            <div>
                @Html.AntiForgeryToken()
                <h3>                @Html.ValidationSummary(true, "", new { @class = "text-danger" })</h3>

                <br />
                @*  @Html.TextBoxFor(m => m.QuestionText, new { Value = "enter your poll question here..." })*@
                <div>
                    <input class="questionText" name="QuestionText" type="text" value='enter your poll question here...' onfocus="(this.value == 'enter your poll question here...') && (this.value = '')"
                                           onblur="(this.value == '') && (this.value = 'enter your poll question here...')" />
                </div>


                <br />
                @Html.CheckBoxFor(m => m.MultipleChoices)
                <br />

                @*credits http://www.sanwebe.com/2013/03/addremove-input-fields-dynamically-with-jquery*@

                <script type="text/javascript">
                    $(document).ready(function () {

                        var max_fields = 17; //maximum input boxes allowed
                        var wrapper = $(".input_fields_wrap"); //Fields wrapper
                        var add_button = $(".add_field_button"); //Add button ID

                        var x = 3; //initlal text box count
                        $(add_button).click(function (e) { //on add input button click
                            e.preventDefault();
                            numOptions = +1;
                            if (x < max_fields) { //max input box allowed
                                x++; //text box increment
                                var string = "value='enter option here...' onfocus=\"(this.value == 'enter option here...') && (this.value = '')\" onblur=\"(this.value == '') && (this.value = 'enter option here...')\""
                                $(wrapper).append('<div> <span>' + x + '. </span><input name="Options[' + (x - 1) + '].OptionText" type="text"' + string + ' />@*<a href="#" class="remove_field">Remove</a>*@</div>'); //add input box

                            }
                        });
                        @* //remove btn
                        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                            e.preventDefault(); $(this).parent('div').remove(); x--;
                        })
                        *@
                    });
                </script>


                <div class="input_fields_wrap">
                    <div>
                        <span>1. </span><input name="Options[0].OptionText" type="text" value='enter option here...' onfocus="(this.value == 'enter option here...') && (this.value = '')"
                                               onblur="(this.value == '') && (this.value = 'enter option here...')" />
                    </div>
                    <div>
                        <span>2. </span><input name="Options[1].OptionText" type="text" value='enter option here...' onfocus="(this.value == 'enter option here...') && (this.value = '')"
                                               onblur="(this.value == '') && (this.value = 'enter option here...')" />
                    </div>
                    <div>
                        <span>3. </span><input name="Options[2].OptionText" type="text" value='enter option here...' onfocus="(this.value == 'enter option here...') && (this.value = '')"
                                               onblur="(this.value == '') && (this.value = 'enter option here...')" />
                    </div>

                </div>
                <button class="add_field_button">Add More Fields</button>

                <br />
                <input type="submit" value="Create" />
            </div>
        }
    </div>

</div>