@model Pollerino.Models.Poll

@{
    ViewBag.Title = "Poll";
}

@Html.DisplayFor(m => m.QuestionText)
<br />
<br />

@for (int i = 0; i < Model.Options.Count(); i++)
{
    <span>@(i+1) </span>
    @Html.DisplayFor(x => Model.Options[i].OptionText)
    @Html.DisplayFor(x => Model.Options[i].NumVotes)
    <br />
}

